// Base
@import 'base/normalize';
@import 'base/animations';

$layoutColor: #e8ebe9;

body{
  font-family: var(--font-sans), Arial , sans-serif;
  line-height: 1.02;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}


.layout_wrapper{
  background: $layoutColor;
  min-height: 100vh;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
