///___________///___________///___________

///___________ COLOR-PALETTE (min 100  max 900)

///___________///___________///___________

$Black: #000000;
$White: #ffffff;

$Primary_100: #B5E6B5;
$Primary_200: #8FDB8F;
$Primary_300: #70D270;
$Primary_400: #56CA56;
$Primary_500: #33CC33;
$Primary_600: #2EB82E;
$Primary_700: #2A9C2A;
$Primary_800: #278227;
$Primary_900: #236723;

$Secondary_100: #8A90A5;
$Secondary_200: #78829B;
$Secondary_300: #6C758F;
$Secondary_400: #616A86;
$Secondary_500: #4B556F;
$Secondary_600: #444C63;
$Secondary_700: #3F4659;
$Secondary_800: #393F50;
$Secondary_900: #333948;

$Black_100: #F0EEEE;
$Black_200: #E0E0E0;
$Black_300: #B3B3B3;
$Black_400: #9E9E9E;
$Black_500: #808080;
$Black_600: #666666;
$Black_700: #4D4D4D;
$Black_800: #333333;
$Black_900: #1A1A1A;

$Red_100: #F48A8A;
$Red_200: #F37474;
$Red_300: #F45858;
$Red_400: #F43F3F;
$Red_500: #FF3333;
$Red_600: #E72D2D;
$Red_700: #F92121;
$Red_800: #D11C1C;
$Red_900: #B81717;

$Green_100: #B8E2B8;
$Green_200: #8FD78F;
$Green_300: #69CB69;
$Green_400: #4FC24F;
$Green_500: #33CC33;
$Green_600: #2EB82E;
$Green_700: #359935;
$Green_800: #2F7F2F;
$Green_900: #2A662A;

$Yellow_100: #FFF5CC;
$Yellow_200: #FFEB99;
$Yellow_300: #FFE066;
$Yellow_400: #FFD633;
$Yellow_500: #FFD966;
$Yellow_600: #E6C056;
$Yellow_700: #CC9F3F;
$Yellow_800: #B38633;
$Yellow_900: #996C26;

