$media-breakpoints: (
        mobile: (start: 320px, end: 575.98px),
        tablet: (start: 576px, end: 767.98px),
        desktop: (start: 768px, end: 991.98px),
        desktopMedium: (start: 992px, end: 1199.98px),
        desktopXL: (start: 1200px, end: 1399.98px),
        desktop2XL: (start: 1400px, end: 1599.98px),
        desktop3XL: (start: 1600px, end: null)
);
