:root {
  --Gray-gray-1: #FFFFFF;
  --Gray-gray-2: #F3F4F9;
  --Gray-gray-3: #EEEFF3;
  --Gray-gray-4: #E8E9F0;
  --Gray-gray-5: #D7D8E0;
  --Gray-gray-6: #B9BBC2;
  --Gray-gray-7: #8C8D94;
  --Gray-gray-8: #626368;
  --Gray-gray-9: #232325;
  --Gray-light:#FAFAFC;
  --Neutral-1: #fff;
  --text-color: #626368;
  --red-6: #E5424C;
  --pink: #D64686;
  --accent-main: #748ADA;
  --white: #fff;
  --text: #232325;
  --roboto: 'Roboto';
  --roboto-bold: 'Roboto-bold';
  --roboto-med: 'Roboto-medium';
  --table-th-color: #f3f4fa;
  --blue-2:#99ACF2;
}

$transition: 0.2s;


